pydantic
pydantic[email]
sqlalchemy[asyncio]
pydantic-settings
fastapi
redis
pytest
pytest
httpx 
passlib[bcrypt]
bcrypt==4.2.1
python-jose[cryptography]
uvicorn
alembic
asyncpg
aiofiles
python-multipart
pypdf